NEXT_PUBLIC_SITE_URL=https://concretemotivation.com
NEXT_PUBLIC_YOUTUBE_URL=https://youtube.com/@concretemotivation444
NEXT_PUBLIC_APP_URL=https://app.concretemotivation.com
NEXT_PUBLIC_BOOKING_URL=https://concretemotivation.com/speaking
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/concretemotivation444
NEXT_PUBLIC_TIKTOK_URL=https://tiktok.com/@concretemotivation444
NEXT_PUBLIC_FACEBOOK_URL=https://facebook.com/concretemotivation
